// font

body {
    font-family:"Helvetica Neue", Helvetica, "segoe ui", "microsoft jhenghei", "microsoft mhei", stheititc, sans-serif;
    color: $bg-main;
    font-size: .875rem;
}

.font-w-500 {
    font-weight: 550;
}